#
# A Test Workflow for Building OpenWrt
#

name: Build LEDE FOR AMD64 

# Add a button to trigger the workflow manually
on: 
 workflow_dispatch:
 
# A series of steps
jobs:
 Build_LEDE_AMD64:
  runs-on: ubuntu-latest
  
  steps:
   - name: Checkout
     uses: actions/checkout@main
     
   - name: 安装编译依赖
     run: |
      sudo apt update -y
      sudo apt full-upgrade -y
      sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 python3 python3-pyelftools libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev python3-setuptools

   - name: 查看可用磁盘空间
     run: df -hT $PWD
