name: Generate config file 

# Add a button to trigger the workflow manually
on: 
 workflow_dispatch:
 
jobs:
 generate_config:
  runs-on: ubuntu-latest
  
  steps:
     
   - name: 安装编译依赖
     run: |
      docker rmi `docker images -q`
      sudo apt purge -y azure-cli zulu* llvm* firefox powershell openjdk*
      sudo apt update -y
      sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses-dev libssl-dev python3-distutils rsync unzip zlib1g-dev file wget
      sudo apt clean -y
            
   - name: 下载源代码
     env:
      REPO_URL: https://github.com/openwrt/openwrt.git
      REPO_BRANCH: openwrt-22.03
     run: git clone --depth 1 -b $REPO_BRANCH $REPO_URL openwrt
     
   - name: 更新 feeds
     working-directory: ./openwrt
     run: |
      ./scripts/feeds update -a
      ./scripts/feeds install -a
      
   - name: 添加 argon 主题
     working-directory: ./openwrt/package
     run: | 
      git clone --depth 1 https://github.com/jerrykuku/luci-theme-argon.git
      git clone --depth 1 https://github.com/jerrykuku/luci-app-argon-config.git
     
#   - name: 添加 passwall 插件
#     working-directory: ./openwrt/package
#     run: git clone https://github.com/xiaorouji/openwrt-passwall
     
   - name: 添加 helloworld 插件
     working-directory: ./openwrt/package
     run: |
      rm -rf helloworld
      git clone --depth=1 https://github.com/fw876/helloworld.git helloworld

     # 复制 ssh 命令到终端
     # touch /tmp/keepalive，关闭 15 分钟超时
     # cd openwrt && make menuconfig，制作 config
     # 制作完成后，exit 退出 ssh 会话，以便进入下一阶段
   - name: 使用 ssh 连接 GitHub Actions 服务器
     uses: csexton/debugger-action@master
     
   - name: 上传 config 到 artifact
     uses: actions/upload-artifact@v3
     with:
      name: dot_config
      path: openwrt/.config
