name: Generate config file 

# Add a button to trigger the workflow manually
on: 
 workflow_dispatch:
 
jobs:
 generate_config:
  runs-on: ubuntu-latest
  
  steps:
     
   - name: 安装编译依赖
     run: |
      docker rmi `docker images -q`
      sudo apt purge -y azure-cli zulu* llvm* firefox powershell openjdk*
      sudo apt update -y
      sudo apt full-upgrade -y
      sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 python3 python3-pyelftools libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev python3-setuptools
      sudo apt clean -y
            
   - name: 下载源代码
     env:
      REPO_URL: https://github.com/coolsnowwolf/lede
     run: git clone $REPO_URL
     
   - name: 更新 feeds
     working-directory: ./lede
     run: |
      ./scripts/feeds update -a
      ./scripts/feeds install -a
      
   - name: 添加 argon 主题
     working-directory: ./lede/package/lean
     run: |
      rm -rf luci-theme-argon
      git clone -b 18.06 https://github.com/jerrykuku/luci-theme-argon.git luci-theme-argon
     
   - name: 添加 openclash
     working-directory: ./lede/package
     run: git clone https://github.com/vernesong/OpenClash/luci-app-openclash.git luci-app-openclash

     # 复制ssh命令到终端
     # touch /tmp/keepalive，关闭15分钟超时
     # cd lede && make menuconfig，制作config
     # 制作完成后，exit退出ssh会话，以便进入下一阶段
   - name: 使用ssh连接GitHub Actions服务器
     uses: csexton/debugger-action@master
     
   - name: 上传config到artifact
     uses: actions/upload-artifact@v3
     with:
      name: my-config
      path: lede/.config
